@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

.code-container {
  overflow-x: auto;
  max-width: 100%;
}

.code-container pre {
  white-space: pre-wrap;
  word-break: break-word;
}
